<h3>name</h3>
<input id="name" placeholder="Name"/>
<h3>username</h3>
<input id="username" placeholder="Username"/>
<h3>email</h3>
<input id="email_1" placeholder="Email"/>
<h3>confirm email</h3>
<input id="email_2" placeholder="Email"/>
<h3>password</h3>
<input id="password_1" placeholder="Password"/>
<h3>confirm password</h3>
<input id="password_2" placeholder="Password"/>
<h3>Image</h3>
<input id="img" placeholder="Image Link"/>
<h3>title</h3>
<input id="title" placeholder="Title"/>
<h3>location</h3>
<input id="location" placeholder="Location"/>
<h3>Top 3 venues</h3>
<input id="venue_1" placeholder="Venue Name"/>
<input id="venue_2" placeholder="Venue Name"/>
<input id="venue_3" placeholder="Venue Name"/>
<br>
<button id="join">Join</button>

<a href="/">Home</a>