<div class="home_link">
	<a href="/home">Home</a>
</div>

<div class="join_form">
	<div class="form_header">Full Name</div>
	<form>
	<input id="name" placeholder="Name"/>
	<div class="form_header">Email</div>
	<input id="email" placeholder="Email"/>
	<div class="form_header">Password</div>
	<input id="password" placeholder="Password"/>
	<div class="form_header">Profile Image Link</div>
	<input id="img" placeholder="Image Link"/>
	<div class="form_header">Title (Student, Coach, Teacher, etc)</div>
	<input id="title" placeholder="Title"/>
	<div class="form_header">Location</div>
	<input id="location" placeholder="Location"/>
	<div class="form_header">Top 3 Venues</div>
	<input id="venue_1" placeholder="Venue Name"/>
	<input id="venue_2" placeholder="Venue Name"/>
	<input id="venue_3" placeholder="Venue Name"/>
	<br>
	<br>
	<button id="join">Join</button>
	</form>
</div>

