<h3>name</h3>
<input type="text" name="">
<h3>username</h3>
<input type="text" name="">
<h3>email</h3>
<input type="text" name="">
<h3>confirm email</h3>
<input type="text" name="">
<h3>password</h3>
<input type="text" name="">
<h3>confirm password</h3>
<input type="text" name=""><br>

<a href="/">Home</a>