<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<h1>Whats Poppin</h1>
	{{#if loggedIn}}
		<a href="/logout">Logout</a>
	{{/if}}
	{{{body}}}

 <script src="/js/main.js"></script>
</body>
</html>