<h3>Welcome to Whats Poppin!</h3>
{{!-- <p>Never again wonder or be bothered.</p> --}}

<p>See what your friends are doing tonight.<p>

<div class="login">
	

	{{!-- static form submission --}}
	<form id="login_form" action="/" method="POST">

		<h4>{{error}}</h4>
		<input name="email"placeholder="Email"/>
		<input name="password" placeholder="Password"/>
		<button>Submit</button>
		<a href="/join">Join</a>
	</form>
</div>
<br>
