<h2>Welcome to Whats Poppin</h2>
<h3>See what your friends are doing tonight!</h3>
<p>Never again will you have to wonder if anyone is doing anything or be bothered when you really dont want to do shit!</p>

<h2>Login here:</h2>

{{!-- static form submission --}}
<form action="/" method="POST">
	<input name="email"placeholder="Email"/>
	<input name="password" placeholder="Password"/>
	<button>Submit</button>
</form>

<br>
<a href="/join">Join Whats Poppin</a>